header {height:200px; background-image: url(../img/menu2.jpg);background-repeat: no-repeat }

#mid {width: 1200px; height:11700px; margin: 0 auto; }
#pnav {width:1200px; height:40px;  position: sticky; top:0; margin: 0 auto;z-index: 10; display: flex; justify-content:center; align-items: center;background-color: #f2f2f2; opacity: 0.7;}
#na {width: 500px; height: 40px;margin: 0; }
#pnav ul {display: flex; justify-content: space-around; align-items: center; margin-top: 5px;}
#pnav li{float:left;  font-size:20px;  margin: 0; }
#pnav a {color: #555151;}
#pnav ul li a:hover{color:black}

.sub {width:1200px; height: 9085px;  margin: 0 auto; display: flex; align-items: flex-start;}
.prod {width:900px; height:9085px; }
#tprod {width:900px; height:550px; display: flex;justify-content: center; align-items: center;}
#timg {width:870px; height: 500px; }
#timg1 {width:870px; height: 500px; display: none;}
#timg2 {width:870px; height: 500px; display: none;}
#timg3 {width:870px; height: 500px; display: none;}
#timg4 {width:870px; height: 500px; display: none;}

#bprod {width:900px; height: 100px; display: flex;justify-content: space-around;}
.bimg {width:150px; height: 91px; align-self: center;}
#cata {width: 900px; height:6000px; }
#cata h1 {text-align: center; line-height: 2em;color: #555151;}
#cata h3 {text-align: center; line-height: 2em;color: #555151;}
#cata p {text-align: center; line-height: 2em;color: #555151;}
.proimg {width: 900px;}
.proimg:nth-of-type(1) {margin-top: 80px;}
.proimg:nth-of-type(1)>h1 {margin-top: 100px;}
.proimg:nth-of-type(2) {margin-top: 40px;}
.proimg:nth-of-type(2)>h1 {margin-top: 80px;}
.proimg:nth-of-type(3) {margin: 30px 0;}
.proimg:nth-of-type(3)>h1:nth-of-type(1) {margin-top: 80px;}
.proimg:nth-of-type(4) {display: flex;flex-wrap: wrap; }
.proimg:nth-of-type(4)  {flex-direction: row; }
.cp {width:160px; height: 100px;  float: left; margin-left: 16px;}
.proimg:nth-of-type(5) {position: relative;}
.proimg:nth-of-type(5)>p {position: absolute; top:450px; right:30px;}
.proimg:nth-of-type(5)>h1 {position: absolute; top:350px; right:235px;}
.proimg:nth-of-type(6) {position: relative;}
.proimg:nth-of-type(6)>p:nth-of-type(1) {position: absolute; top:180px; left:20px;}
.proimg:nth-of-type(6)>p:nth-of-type(2) {position: absolute; top:270px; left:20px;}
.proimg:nth-of-type(6)>h1 {position: absolute; top:70px; left:20px;}
.proimg:nth-of-type(7) {margin-top: 30px;}
.proimg:nth-of-type(7)>h1 {margin-top: 60px;}
.proimg:nth-of-type(10) {margin-top: 100px;}
#det {display: flex;justify-content: center;}
caption {font-size: 23px;color:#555151}
#det>table td {padding: 10px 5px 10px 15px; ; color:#555151;}
#det>table {border-collapse: collapse; border-top: 1px solid #555151;border-bottom: 1px solid #555151; }
#det>table .even{background: #f2f2f2;}




.side {width:300px; height:630px;  align-self: flex-start; position: sticky; top:100px;padding:10px;color:#555151}
hr {color:#555151; margin: 7px 0px;} 
.side p table { line-height: 1.5em;}
.side>table {padding: 5px;}
.side td {padding: 10px;}
.side select {margin-left: 30px;}
.opt{margin: 15px 0 10px 38px;}
.btn {background-color: white; width:70px; height: 40px; border: #555151 2px solid; margin: 20px 0 0 10px; border-radius: 3px;}
.btn:hover {cursor: pointer;}
.btn:nth-of-type(3) {width:95px; background-color: #555151; color:white}


#detail {width:1200px; height:2000px; margin: 0 auto; }
#deli {display: flex; justify-content: center; color: #555151;}
#deli>table {border: 1px solid #555151;border-collapse:collapse ;}
#deli>table>caption {margin: 60px 0 30px 0;}
#deli>table li {list-style: circle;}
#deli>table th{border-bottom: 1px solid #555151; padding-left: 5px;}
#deli>table td{border-bottom: 1px solid #555151;padding: 20px 0px 20px 40px; font-size: 17px;}

#review {width:1200px ; height: 230px;  padding:60px 10px; box-sizing: border-box; }
#review>h2 {padding-left:10px;color:#555151;}
#review>hr {margin: 10px 0; color:#555151;}
#text {width:870px; height:70px; box-sizing: border-box; }
#input {width:300px; height:70px;float:right; display: flex; flex-wrap: wrap; justify-content: space-between;align-content:space-between;}
#input>select {color:#555151;width:140px; height:32px; box-sizing: border-box;}
.but {width: 140px; height: 32px; background-color: white; border: 1px solid #555151; border-radius: 3px; }
.but:nth-of-type(2) {background-color: #555151; color: #f2f2f2;width:300px; }
.but:hover {cursor: pointer;}

#review2 {width:1200px ; height: 1100px;  padding:60px 10px; box-sizing: border-box;}
#review2>h2 {padding-left:10px;color:#555151;}
#review2>hr {margin: 10px 0; color:#555151;}
#review2>table {width:100%; height:900px; color:#555151; border-collapse: collapse;}
#review2>table>tr {border-bottom: #555151 1px solid;}
.star {height: 30px;}
.rt { height: 50px; padding-right: 200px;}
.ri {border-bottom: #555151 solid 1px;}
.ri img{width:100px; height: 100px; margin: 3px; }
.reid {width : 150px;border-bottom: #555151 solid 1px;}
#list2 {display: flex; justify-content: center;margin-top: 5px;}
#list2>li>a:hover {color:black}
#list2>li>a {color:#555151; margin-left: 6px;}


#qna {width:1200px ; height: 550px;  padding:60px 10px; box-sizing: border-box;}
#qna>h2 {padding-left:10px;color:#555151;}

#review2>hr {margin: 10px 0; color:#555151;}
#qna>table {width:100%;color:#555151;border-collapse: collapse; }

#qna>table>thead {border-bottom: 1px solid #555151;}
#qna>table th {padding: 5px 0 5px 10px;}
#qna>table td {padding: 5px 0 5px 10px;}
#qna>table>tbody>tr>td:nth-of-type(1) {width: 40px; height: 10px;}
#qna>table>tbody>tr>td:nth-of-type(2) {width: 10px; height: 10px;}
#qna>table>tbody>tr>td:nth-of-type(3) {width: 700px; height: 10px;}
#qna>table>tbody>tr>td:nth-of-type(4) {width: 100px; height: 10px; text-align: center;}
#qna>table>tbody>tr>td:nth-of-type(5) {width: 150px; height: 10px; text-align: center;}
#qna>table>tbody>tr>td:nth-of-type(6) {width: 100px; height: 10px;}
#qna>table a {color: #555151;}
#qna2 {display: flex; justify-content: center;margin-top: 10px;}
#qna2>li>a:hover {color:black}
#qna2>li>a {color:#555151; margin-left: 6px; }







